
.texto{
	padding-top: 40px;
}

.service-heading{
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.5px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	color: #808080 !important;
	line-height: 20px;
}
 header
{
	color:#fff;
	padding: 200px 0;
}

#skills{

color: #fff;
}

.bg-light-gray{  
background-color:#efebe1
}

#map{
height: 530px;
width: 100%;
background: #F1F1F1;
}

.fa-home:before {
color: black !important;
}

.fa-building:before {
color: black !important;
}
.fa-users:before {
color: black !important;
}
.fa-laptop:before {
color: black !important;
}
.fa-stack-2x{
    color: #808080;
    opacity: 0.3;
}
.service-heading{
    color: black;
    font-size: 20px;
}

section h2.section-heading{
     color: black;
     text-align: left;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#portfolio{
	font-family: 'Roboto', sans-serif;
}

#portfolio .title{
	font-weight: bold;
	font-size: 28px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#portfolio .description{
	font-size: 14px;
	padding-left: 10px;
	width: 95%;
}

#portfolio .imagem.presentation{
	width: 130px;
	height: 160px;
	background-image: url(../img/foto.jpg);
	margin-left: 10px;
	margin-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	-moz-box-shadow: 0 0px 2px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0px 2px 1px rgba(0,0,0,.3);
    box-shadow: 0 0px 2px 1px rgba(0,0,0,.3);
}

#portfolio .points{
	padding-top: 20px;
	padding-left: 10px;
	font-size: 15px;
	margin-bottom: 40px;
	width: 95%;
}

#portfolio .point{
	padding-left: 10px;
	padding-top: 10px;
}

#portfolio .point i{
	color: #ed4343;
	margin-right: 10px; 
}
