header
{
    color:#fff;
    padding: 200px 0;
}

#skills{
    color: #fff;
}

.bg-light-gray{
    background-color:#efebe1
}

#map{
    height: 530px;
    width: 100%;
    background: #F1F1F1;
}

.fa-home:before {
    color: black !important;
}

.fa-building:before {
    color: black !important;
}
.fa-users:before {
    color: black !important;
}
.fa-laptop:before {
    color: black !important;
}
.fa-stack-2x{
    color: #808080;
    opacity: 0.3;
}
.service-heading{
    color: black;
}

section h2.section-heading{
     color: black;
     text-align: left;
}

#contact{
    padding-top: 100px !important;
}

.header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}

section#contact
{

}
section#contact .section-heading
{
    color:#333
}
section#contact .form-group
{
    margin-bottom:25px
}
section#contact .form-group input,section#contact .form-group textarea
{
    padding:20px
}
section#contact .form-group input.form-control
{
    height:auto
}
section#contact .form-group textarea.form-control
{
    height:236px
}
section#contact .form-control:focus
{
    border-color:#fed136;
    box-shadow:none
}
section#contact ::-webkit-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}
section#contact :-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}
section#contact ::-moz-placeholder
{
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}
section#contact :-ms-input-placeholder
{
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#bbb
}
section#contact .text-danger
{
    color:#e74c3c
}

.container{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.panel-container,
.map-container{
    display: inline-block;
    height: 400px;
    vertical-align: top;
}

.panel-container{
    text-align: left;
    padding: 2%;
    color: #4b4b4b;
    overflow: hidden;
}

.panel-container .title{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
}

.panel-container .panel-body{
    font-weight: 400;
    font-size: 15px;
    margin-top: 7px;
}

.panel-container .address{
  display: flex;
}

.panel-container .content{
    color: #4b4b4b;
    margin-top: 25px;
}

.panel-container .content:not(:first-child){
  margin-top: 10px;
}

.panel-container .content .img,
.panel-container .address .img{
  width: 20px;
  height: 20px;
}

.panel-container .content span{
    font-weight: bold;
    color: #ed4343;
}

.panel-container .content a,
.panel-container .address .text{
  color: #333;
  margin-left: 10px;
}

.map-container .map{
    width: 100%;
    height: 100%;
}
