.portfolio-modal .modal-content
{
    border-radius:0;
    background-clip:border-box;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:0;
    min-height:100%;
    padding: 70px 0;
    text-align:center
}
.portfolio-modal .modal-content h2
{
    margin-bottom:15px;
    font-size: 25px;
}
.portfolio-modal .modal-content p
{
    margin-bottom:30px
}

.portfolio-modal .close-modal
{
    position:absolute;
    width:75px;
    background-color:transparent;
    top:15px;
    right:15px;
}

.portfolio-modal .close-modal button{
    background-color: white;
    font-size: 15px;
    color: #333;
    border-color: #333;
}

.portfolio-modal .close-modal button:hover,
.portfolio-modal .close-modal button:active
{
    background-color: white;
    color: #333;
    color: #333;
    border-color: #333;
}

.portfolio-modal{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding-right: 0!important;
    padding-left: 0!important;
}

.portfolio-modal .modal-content .right,
.portfolio-modal .modal-content .left{
    padding-right: 0;
    padding-left: 0;
}

.portfolio-modal .modal-content .left .project-img{
    background-size: cover;
    height: 400px;
    max-width: 96%;
    background-repeat: no-repeat;
}


.portfolio-modal .modal-content .right{
   
}

.portfolio-modal .project-name{
    text-align: left;
}

.portfolio-modal .project-description{
    text-align: left;
}

.portfolio-modal .list-inline{
    text-align: left;
}

.portfolio-modal .project-item{
    margin-bottom: 10px;
}

.preview img {
    height: 400px;
    max-width: 96%;
}

.thumbnails{
    margin-top: 10px;
}

.thumbnails img {
    height: 50px;
    margin-left: 10px;
    border: 1px solid white;
}

.thumbnails img:hover {
    border: 1px solid rgba(0, 0, 0, .2);
    cursor:pointer;
}

.preview .image {
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(0,0,0,.3);
}
